[submodule "emacs.d/extern/conf-info-mode"]
	path = emacs.d/extern/conf-info-mode
	url = https://github.com/randomphrase/conf-info-mode.git
[submodule "emacs.d/extern/org-reveal"]
	path = emacs.d/extern/org-reveal
	url = https://github.com/yjwen/org-reveal.git
[submodule "emacs.d/lisp/defuns/semantic-browse-c++-doc"]
	path = emacs.d/lisp/defuns/semantic-browse-c++-doc
	url = https://gist.github.com/9177867.git
[submodule "emacs.d/extern/cedet"]
	path = emacs.d/extern/cedet
	url = http://git.code.sf.net/p/cedet/git
[submodule "bin/sshrc"]
	path = bin/sshrc
	url = https://github.com/Russell91/sshrc.git
[submodule "fonts/source-code-pro"]
	path = fonts/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro.git
	branch = release
