# TODO: move transient data into a var directory or something
/emacs.d/.*
/emacs.d/abbrevs
/emacs.d/backups/
/emacs.d/bookmarks
/emacs.d/ac-comphist.dat
/emacs.d/custom.el
/emacs.d/ede-projects.el
/emacs.d/elpa/
/emacs.d/eshell/history
/emacs.d/eshell/lastdir
/emacs.d/extern/
/emacs.d/local.el
/emacs.d/info/
/emacs.d/projectile*
/emacs.d/semanticdb
/emacs.d/srecode-map.el
/emacs.d/tramp
/emacs.d/url

/zsh.d/oh-my-zsh/

*.log
*~
*.elc
