/Desktop
/Documents
/Downloads
/Dropbox
/Library
/Movies
/Music
/Pictures
/Public
/Sites
/hack

/.CFUserTextEncoding
/.DS_Store
/.Trash/
/.Xauthority
/.bash_history
/.bazaar/
/.bzr/
/.cups
/.dropbox
/.dvdcss
/.eshell
/.fontconfig
/.gnupg
/.history
/.ido.last
/.irb_history
/.lesshst
/.local/
/.macports
/.mysql_history
/.pearrc
/.session
/.sh_history
/.ssh
/.viminfo
/.zcompdump

# TODO: move transient data into a var directory or something
/.emacs.d/.*
/.emacs.d/abbrevs
/.emacs.d/bookmarks
/.emacs.d/custom.el
/.emacs.d/elpa/
/.emacs.d/eshell/history
/.emacs.d/eshell/lastdir
/.emacs.d/info/
/.emacs.d/semanticdb
/.emacs.d/tramp

# TODO: Turn these into submodules
/.emacs.d/extern/cedet/
/.emacs.d/extern/ede-cmake/

*.log
*~
*.elc
